.f1-season-detail {
  .flex-container {
    display: flex;

    aside {
      padding: 2.5rem 2rem 0 0;
      text-align: center;
      width: 100px;

      a {
        color: #333;
        display: block;
        font-family: SquadaOne, sans-serif;
        font-size: 2rem;
        line-height: 3rem;
        text-decoration: none;
        transition: all .15s ease-in-out;

        &:hover {
          color: #e00;
        }

        &.active {
          color: #e00;
          transform: scale(1.2);
        }
      }
    }
  }

  table {
    width: 100%;

    thead {
      tr {
        border-left-color: white;

        th {
          background-color: transparent;
          color: dimgray;
          font-size: 0.8rem;
          text-align: left;
          text-transform: uppercase;
          padding: 1rem 0 1rem 0.5rem;
        }
      }
    }

    tbody {
      tr {
        transition: all .15s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }

        &:nth-child(even) {
          background: rgba(#ddd, 0.7);
          border-left-color: #ddd;
        }

        &:nth-child(odd) {
          background: rgba(#eee, 0.7);
          border-left-color: #eee;
        }

        &.champion {
          td:first-child {
            border-left-color: #e00;
          }
        }

        td {
          border-left: 5px solid transparent;
          color: gray;
          padding: 1.25rem 0.5rem;

          p {
            margin: 0.2rem 0 0 0;
          }

          &.number {
            text-align: center;

            span {
              background-color: lightgray;
              border-radius: 50px;
              color: white;
              display: inline-block;
              font-family: SquadaOne, sans-serif;
              font-size: 2rem;
              line-height: 40px;
              width: 40px;
              height: 40px;
            }
          }

          .portrait {
            float: left;
            border-radius: 50%;
            margin: 0 1rem 0 0.5rem;
            vertical-align: top;

            height: auto;
            width: 50px;
          }

          .flag {
            margin-top: 8px;
            height: auto;
            width: 24px;
          }
        }
      }
    }
  }
}

.trophy {
  opacity: 0.15;
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 2.5rem;

  + span {
    display: inline-block;
    margin: 0;
    vertical-align: top;

    small {
      color: gray;
    }
  }
}
